<div class="flex justify-center bg-gray-100 w-full  pt-40">
  <div class="w-4/12 flex flex-col p-8 pb-4 h-auto bg-white rounded-2xl shadow overflow-hidden">
    <div class="flex-auto items-center">
      <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-3 px-2 md:px-0 border-b">
        <div>
          <div class="text-4xl font-extrabold tracking-tight leading-none flex justify-between">
            <div class="text-2xl sm:text-base md:text-lg lg:text-4xl xl:text-4xl">
              Redefinição de senha
            </div>
          </div>
        </div>
      </div>

      <div class="w-full">
        <form [formGroup]="form">
          <div class="mt-6">
            <div class="flex flex-col sm:flex-row w-full gap-0 sm:gap-5 pb-5">
              <div class="form__group w-full relative">
                <div class="relative">
                  <input [type]="hidePassword ? 'password' : 'text'"
                         formControlName="password"
                         id="password"
                         class="peer block"
                         placeholder=" "/>
                  <label for="password"
                         class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-background px-2 text-sm text-muted-foreground duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary">
                    Nova senha
                  </label>
                  <button type="button"
                          class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
                          (click)="togglePasswordVisibility('password')">
                    <i class="fas" [ngClass]="{'fa-eye': hidePassword, 'fa-eye-slash': !hidePassword}"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="flex flex-col sm:flex-row w-full gap-0 sm:gap-5 pb-5">
              <div class="form__group w-full relative">
                <div class="relative">
                  <input [type]="hideNewPassword ? 'password' : 'text'"
                         formControlName="newPassword"
                         id="newPassword"
                         class="peer block"
                         placeholder=" "/>
                  <label for="newPassword"
                         class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-background px-2 text-sm text-muted-foreground duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary">
                    Confirmar nova senha
                  </label>
                  <button type="button"
                          class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
                          (click)="togglePasswordVisibility('newPassword')">
                    <i class="fas" [ngClass]="{'fa-eye': hideNewPassword, 'fa-eye-slash': !hideNewPassword}"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <app-button full impact="bold" tone="primary" shape="rounded" size="medium">
            Resetar senha
          </app-button>
          <mat-divider/>
        </form>
      </div>
    </div>
  </div>
</div>
