<sgmea-list [listTitle]="'Equipamentos'" [itensCount]="10" class="w-full">


  <equipamento-filter [autoEmitValuesChange]="true" (valuesChanges)="customList($event)"/>



  @if (values?.records && values.records.length > 0) {
    <ng-template let-equipamento let-last="last" ngFor [ngForOf]="values?.records">
      <sgmea-container-list [icon]="'fa-solid fa-tachograph-digital'" [address]="equipamento?.id">
        <div
          class=" text-sm sm:text-base md:text-base lg:text-base leading-5 break-words">{{ equipamento?.nome }}
        </div>
        <div menu-content>


          <a mat-menu-item [routerLink]="[equipamento.id]" [queryParams]="getCurrentQueryParams()">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </a>


          <a mat-menu-item [routerLink]="[equipamento.id]" [queryParams]="getCurrentQueryParams()">
            <mat-icon>visibility</mat-icon>
            <span>Visualizar</span>
          </a>

          <button mat-menu-item

                  (click)="remove(equipamento)">
            <mat-icon>delete</mat-icon>
            <span>Remover</span>
          </button>
        </div>

      </sgmea-container-list>
    </ng-template>
  } @else {
    <sgmea-no-data/>
  }



</sgmea-list>
