<sgmea-list [listTitle]="'Histórico de Chamados'" class="w-full">
  <mat-table [dataSource]="chamados" class="mat-elevation-z8">

    <!-- Título -->
    <ng-container matColumnDef="titulo">
      <mat-header-cell *matHeaderCellDef> Título</mat-header-cell>
      <mat-cell *matCellDef="let chamado"> {{ chamado.titulo }}</mat-cell>
    </ng-container>

    <!-- Status -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
      <mat-cell *matCellDef="let chamado">
        <small [ngClass]="getStatusColor(chamado.status)">
          {{ chamado.status }}
        </small>
      </mat-cell>
    </ng-container>

    <!-- Data de Abertura -->
    <ng-container matColumnDef="dataAbertura">
      <mat-header-cell *matHeaderCellDef> Data de Abertura</mat-header-cell>
      <mat-cell *matCellDef="let chamado"> {{ chamado?.dataAbertura ? chamado?.dataAbertura : null | date: 'dd/MM/yyyy' }}</mat-cell>
    </ng-container>

    <!-- Data de Fechamento -->
    <ng-container matColumnDef="dataFechamento">
      <mat-header-cell *matHeaderCellDef> Data de Fechamento</mat-header-cell>
      <mat-cell *matCellDef="let chamado"> {{ chamado.dataFechamento ? (chamado.dataFechamento | date: 'dd/MM/yyyy') : 'Não fechado' }}</mat-cell>
    </ng-container>

    <!-- Responsável -->
    <ng-container matColumnDef="responsavel">
      <mat-header-cell *matHeaderCellDef> Responsável</mat-header-cell>
      <mat-cell *matCellDef="let chamado"> {{ chamado?.funcionario?.nome }}</mat-cell>
    </ng-container>

    <!-- Prioridade -->
    <ng-container matColumnDef="prioridade">
      <mat-header-cell *matHeaderCellDef> Prioridade</mat-header-cell>
      <mat-cell *matCellDef="let chamado">
        <small [ngClass]="getPriorityColor(chamado.prioridade)">
          {{ chamado.prioridade }}
        </small>
      </mat-cell>
    </ng-container>

    <!-- Ações -->
    <ng-container matColumnDef="acoes">
      <mat-header-cell *matHeaderCellDef> Ações</mat-header-cell>
      <mat-cell *matCellDef="let chamado">
        <button mat-button color="primary" (click)="verDetalhes(chamado)">Ver Detalhes</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</sgmea-list>
