<div class="flex h-16 items-center bg-background">
  <div class="flex w-full flex-col sm:flex-row items-center justify-between px-4 sm:px-7 text-[13px] font-medium">
    <div class="text-muted-foreground/50 mb-2 sm:mb-0 text-center sm:text-left">
      <span class="mr-2">{{ year }}©</span>
      <a href="#" target="_blank" class="hover:text-primary">
        Gerenciador de chamados
      </a>
    </div>
    <ul class="flex justify-center sm:justify-end text-muted-foreground/50">
      <li class="hover:text-primary">
        <a href="#" target="_blank" class="menu-link px-2">
          Carolina Cedro
        </a>
      </li>
    </ul>
  </div>
</div>
