<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
  <!-- Título do sistema -->
  <h1 class="text-4xl font-bold mb-6">
    S<b class="text-red-600">G</b>MEA
  </h1>


  <form [formGroup]="form" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-md">
    <h2 class="text-xl font-semibold mb-4 text-gray-700">Redefinição de Senha</h2>
    <div class="flex flex-col sm:flex-row w-full gap-0 sm:gap-5 pb-5">
      <div class="form__group w-full">
        <div class="relative">
          <label for="confirmSenha" class="block text-sm font-medium text-gray-700">Nova Senha</label>
          <input formControlName="novaSenha"
                 [type]="showPassword ? 'text' : 'password'"
                 id="confirmSenha"
                 class="peer block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                 placeholder="Repita nova senha"/>
          <span class="absolute inset-y-0 top-4 right-0 flex items-center pr-3 cursor-pointer text-muted-foreground"
                (click)="togglePasswordVisibility()">
            <i [ngClass]="showPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
        </span>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-4 gap-2">
      <div [ngClass]="{'bg-muted': passwordStrength < 1, 'bg-primary': passwordStrength >= 1}" class="h-1 rounded-sm"></div>
      <div [ngClass]="{'bg-muted': passwordStrength < 2, 'bg-primary': passwordStrength >= 2}" class="h-1 rounded-sm"></div>
      <div [ngClass]="{'bg-muted': passwordStrength < 3, 'bg-primary': passwordStrength >= 3}" class="h-1 rounded-sm"></div>
      <div [ngClass]="{'bg-muted': passwordStrength < 4, 'bg-primary': passwordStrength >= 4}" class="h-1 rounded-sm"></div>
    </div>
    <span class="text-xs text-muted-foreground">Use 8 ou mais caracteres com uma combinação de letras, números e símbolos.</span>

    <div class="flex flex-col sm:flex-row w-full gap-0 sm:gap-5 pb-5">
      <div class="form__group w-full">
        <div class="relative">
          <label for="confirmarSenha" class="block text-sm font-medium text-gray-700">Confirmar Nova Senha</label>
          <input formControlName="confirmarSenha"
                 [type]="showPassword ? 'text' : 'password'"
                 id="confirmarSenha"
                 class="peer block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                 placeholder="Repita nova senha"/>
          <span class="absolute inset-y-0 top-4 right-0 flex items-center pr-3 cursor-pointer text-muted-foreground"
                (click)="togglePasswordVisibility()">
            <i [ngClass]="showPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
        </span>
          <div *ngIf="form.errors?.mismatch" class="text-red-500 text-sm">As senhas não correspondem</div>

        </div>
      </div>

    </div>


    <app-button (click)="submitResetPassword()"
                full impact="bold" tone="primary" shape="rounded" size="medium"
    >
      Redefinir Senha
    </app-button>

  </form>
</div>

