<sgmea-list [listTitle]="'Funcionarios'"
            [itensCount]="values?.records?.length" class="w-full"
>

  <funcionario-filter [autoEmitValuesChange]="true" (valuesChanges)="customList($event)"/>

  @if (values?.records && values.records.length > 0) {

    <ng-template let-func let-last="last" ngFor [ngForOf]="getPaginatedList()">
      <sgmea-container-list [icon]="'fa-solid fa-user-large'" [address]="func?.id">
        <div
          class=" text-sm sm:text-base md:text-base lg:text-base leading-5 break-words">{{ func?.nome }}
        </div>


        <div class="text-gray-500">
          <small>{{ func?.email }}</small>
        </div>

        <div class="text-gray-500">
          <small>{{ func?.cpf | mask: '000.000.000-00' }}</small>
        </div>

        <div mat-chip-situation>
          <div class="bg-primary text-white px-4 py-1 rounded-full shadow-lg">
            <div class=" text-white">
              <small><b>{{ func?.funcao ? func?.funcao : "N/I" }}</b></small>
            </div>
          </div>

        </div>

        <div menu-content>
          <a mat-menu-item [routerLink]="[func.id]" [queryParams]="getCurrentQueryParams()">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </a>




          <button mat-menu-item

                  (click)="remove(func)">
            <mat-icon>delete</mat-icon>
            <span>Remover</span>
          </button>
        </div>


      </sgmea-container-list>

    </ng-template>

    <mat-paginator class="mt-10 bg-yellow"
                   [length]="totalItems"
                   [pageSize]="itemsPorPagina"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="onPageChange($event)"
                   aria-label="Select page">
    </mat-paginator>
  } @else {
    <sgmea-no-data/>
  }


</sgmea-list>
