<sgmea-list [listTitle]="'Funcionarios'" [itensCount]="10" class="w-full">
  <div *ngFor="let tec of values?.records"
       class="text-sm sm:text-base teste md:text-base lg:text-base leading-5 break-words flex justify-between items-center">
    <div class="flex items-center text-gray-500">
      <i class="fa-solid fa-user"></i>
      <p class="pl-2">{{ tec?.nome }}</p>
    </div>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="[tec?.id]">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item [routerLink]="[tec?.id]">
          <mat-icon>visibility</mat-icon>
          <span>Visualizar</span>
        </button>
        <button mat-menu-item (click)="remove(tec)">
          <mat-icon>delete</mat-icon>
          <span>Remover</span>
        </button>
      </mat-menu>
    </div>
  </div>

</sgmea-list>
