//.is__invalid-input {
//  border-color: #e11d48;
//}
//
//.is__invalid-error {
//  color: #e11d48;
//  @apply px-1 pt-1 text-xs;
//}


@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.5s ease-in-out;
}
